* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", serif;
}
:root {
  --primary-text-color: grey;
  --secondary-text-color: red;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-image: url(/assets/hex-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.header-container {
  margin: auto;
  max-width: 1100px;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0 7px 0;
  border-bottom: 1px solid var(--secondary-text-color);
}
.header-logo {
  font-size: 2.5rem;
  font-weight: 700;
  padding-right: 393px;
}
.header-logo a {
  padding: 2px;
  color: var(--primary-text-color);
}
.header-logo a:hover {
  opacity: 0.5;
}
.header-list {
  display: flex;
  padding: 0px 0 1px 40px;
  text-align: right;
}
.header-list a {
  color: var(--primary-text-color);
}
.header-list a:hover {
  opacity: 0.5;
  border-bottom: 1px solid var(--secondary-text-color);
}
.header-list a:active {
  color: var(--secondary-text-color);
}
.main {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}
.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}
.main-info-left {
  margin: auto;
  width: 500px;
  height: 550px;
  border-right: 1px solid var(--secondary-text-color); /*red arch left*/
  border-radius: 50%;
}
.main-info-left-text {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  color: var(--primary-text-color);
}
.main-info-left-big-text {
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
  padding-bottom: 60px;
  color: var(--primary-text-color);
}
.main-info-left-big-text-red {
  color: var(--secondary-text-color);
}
.main-icons-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 120px 10px 60px;
  opacity: 0.6;
}
.main-icons {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
}
.main-icons-cloud {
  background-image: url(../assets/networking.png);
}
.main-icons-grow {
  background-image: url(../assets/grow.png);
  margin-left: 20px;
}
.main-icons-timer {
  background-image: url(../assets/stopwatch.png);
}
.main-icons-text {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 0 30px;
  color: var(--primary-text-color);
}
.main-form-right {
  margin: 5px auto;
  width: 500px;
  height: 550px;
  border-left: 1px solid var(--secondary-text-color); /*red arch right*/
  border-radius: 50%;
}
.main-form-right-text {
  text-align: center;
  padding: 30px 0 0 30px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-text-color);
}
.main-form-right-text-red {
  color: var(--secondary-text-color);
  text-transform: uppercase;
}
.main-form {
  display: flex;
  align-items: center;
  height: 400px;
  padding: 70px 0 0 20px;
  margin-left: 20px;
}
.main-form-group {
  display: flex;
  flex-direction: column;
  margin: left;
  height: 300px;
  width: 350px;
}
.main-form-input {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--primary-text-color);
  padding-top: 10px;
}
.main-form-box {
  padding: 12px 0 8px 0;
}
.bnt {
  font-size: 1.1rem;
  font-weight: 600;
  background: mediumaquamarine;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  margin-left: 170px;
}
.bnt:hover {
  opacity: 0.8;
}
.bnt a {
  color: white;
}
.bnt a:active {
  opacity: 0.5;
}
